tareas/1_data_center.aux
tareas/1_data_center.bbl
tareas/1_data_center.blg
tareas/1_data_center.log
tareas/1_data_center.out
tareas/1_data_center.synctex.gz

*.log
*.aux
*.snm
*synctex.gz
*.out
*.nav
*.toc
*.vrb
*.pyc
*.bbl
*.blg

*/*.log
*/*.aux
*/*.snm
*/*synctex.gz
*/*.out
*/*.nav
*/*.toc
*/*.vrb
*/*.pyc
*/*.bbl
*/*.blg